.comp-top-bar{
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 2vh 5vw;
}

.top-bar{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.top-bar-nav{
    justify-self: flex-end;
}